.a{
    /* height: 200px; */
    width: 19%;
     border: solid 6px white;
     /* background-color: rgb(12, 1, 2); */
     float: left;
}
.a:hover{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img{
    height:150px;
    width: 100%;
}
h1{
    text-align: center;
}
p{
    padding: 10px;
}
button{
    height: 50px;
    width: 100px;
    background-color: rgb(29, 102, 248);
    border-radius: 50px;
    font-size: large;
    color:rgb(141, 20, 20);
}
button:hover{
    background-color: rgb(102, 150, 247) ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}